*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --hero: #B4D0E7;
    --button: #0061FF;
    --nav: #FFFFFF;
    --designit: #A2D39B;
    --a-s-u: #61082B;
    --designit-big: #F5F5F5;
    --world-bicycle: #D5001F;
    --hearst: #B4D0E7;
    --florida: #0093CE;
    --topps: #FF1C1C;
    --lonely-planet: #0D2481;
    --clear-channel: #FFD830;
    --footer: #000000;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

a{
    text-decoration: none;
    color:black;
}

header{
    background-color: var(--hero);
    width:100%;
}

/* utility */

.wrapper{
    height:100vh;
    width:100%;
    margin-top: 50px;
    overflow: hidden;
}

.container{
    width:1200px;
    margin: 0 auto;
    padding: 10px;
}

.small-container{
    width:1000px;
    margin: 0 auto;
    padding: 10px;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display:flex;
    flex-flow: row;
}

.c-flex{
    display:flex;
    flex-flow: column;
}

.j-between{
    justify-content: space-between;
}

.a-between{
    align-content:space-between;
}
.j-center{
    justify-content: center;
}

.a-center{
    align-items: center;
}

.pad-10{
    padding: 10px 10px;
}

.gap-20{
    gap: 20px;
}

a.blue-btn{
    background-color: var(--button);
    color:white;
    padding: 5px 10px;
}

/* nav bar */

nav{
    position: fixed;
    top:0;
    left:0;
    height:50px;
    width:100%;
    z-index: 5;
    background-color: var(--nav);
}

nav div img{
    width:calc(100% / 4);
    object-fit: cover;
}

.nav-link{
    font-size: 0.8rem;
}

/* hero */

.hero{
    text-align: left;
    padding: 50px 100px;
}

.hero h1{
    font-size:4rem;
}
.hero-text{
    width:60%;
    padding-top:50px;
}

.hero-img{
    position:relative;
    top:90px;
    width:100%;
}

.hero i{
    font-size:40px;
}


/* main */

main{
    padding-top:100px;
}
